.react-modal-overlay {
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10000;
}

.react-modal {
  background: white;
  padding: 20px;
  width: 360px;
  border-radius: 8px;
  outline: none;
}
